@tailwind base;
@tailwind components;
@tailwind utilities;

label.avatar-label input[type="file"] {
    position: absolute;
    top: -1000px;
  }
  .avatar-label {
    cursor: pointer;
    background: rgba(0,0,0, 0.2);
    display: inline-block;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
  }
  .avatar-label:hover {
    background: rgba(0,0,0, 0.3);
  }